# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Local development settings
.DS_Store

# ExamRAG folder (legacy)
ExamRAG/
